<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} - SmartLibrary</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="icon"href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>📚</text></svg>"/>
    {% block more_head %}{% endblock more_head %}
</head>
<body>
    {% comment %} Barra de Navegação {% endcomment %}
    <nav class="navbar navbar-expand-sm bg-body-tertiary p-3" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url "home_page" %}">SmartLibrary</a> <!--Página principal-->

            {% comment %} Botão para responsividade {% endcomment %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {% comment %} Links na barra de navegação {% endcomment %}
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav flex-fill align-items-center">
                    <li class="nav-item dropdown">
                        <p class="dropdown-toggle text-white m-0" role="button" data-bs-toggle="dropdown" aria-expanded="false">Funcionalidades</p>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">
                                <a class="nav-link active" aria-current="page" href="{% url "user_list" %}">Leitores</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link active" aria-current="page" href="{% url "collection_item_list" %}">Itens de Acervo</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link active" aria-current="page" href="{% url "collection_item_history" %}">Histórico de Edições</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link active" aria-current="page" href="{% url "collection_list" %}">Acervo</a>
                            </li>
                        </ul>
                    </li>
                    {% if not user.is_authenticated %}
                        <li class="nav-item ms-auto">
                            <a class="nav-link active" href="{% url "user_login" %}"><i class="bi bi-person-circle"></i> Entrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url "user_register" %}">Cadastrar</a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown ms-auto">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Olá {{ user }}!                    
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a href="{% url "user_logout" %}">Sair</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% comment %} Lugar para aparecer as mensagens {% endcomment %}
    {% if messages %}
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 1100">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% comment %} Conteúdo principal {% endcomment %}
    <main class="container">
        {% block main_content %}

        {% endblock main_content %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>