{% extends "base.html" %}

{% block title %}Política de Multa{% endblock title %}


{% block main_content %}
    <h1>Política de Multa</h1>
    {% if delaypolicy_list %}
    <div class="table-responsive">
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">PRAZO MÁXIMO</th>
                    <th scope="col">VALOR DA MULTA</th>
                    <th scope="col">TOLERÂNCIA DE ATRASO</th>
                    <th scope="col">LIMITE DE ITENS</th>
                    {% if user.type_user == 2 %}
                        <th scope="col">AÇÕES</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for item in delaypolicy_list %}
                    <tr>
                        <td scope="row"> {{ item.id }} </td>
                        <td scope="row"> {{ item.max_days }} </td>
                        <td scope="row"> {{ item.fine_value }} </td>
                        <td scope="row"> {{ item.delay_tolerance }} </td>
                        <td scope="row"> {{ item.item_limits }} </td>
                        {% if user.type_user == 2 %}
                        <td>
                            <a href="{% url "user_delete" pk=user.pk %}" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-bs-title="Excluir"><i class="bi bi-trash"></i></a>
                            <a href="{% url "user_update" pk=user.pk %}" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-title="Editar"><i class="bi bi-pencil"></i></a>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>Parece que não tem nada...</p>
    {% endif %}
    <div>
        <a href="{% url 'delay_policy_create' %}" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-title="Cadastrar Multa"><i class="bi bi-plus-circle"></i></a>
    </div>
{% endblock main_content %}