{% extends "base.html" %}

{% block title %}
    Página Inicial
{% endblock title %}

{% comment %} {% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Início</li>
    </ol>
{% endblock breadcrumbs %} {% endcomment %}

{% block main_content %}
    <h1>SmartLibrary</h1>
    <p>Seja bem vindo à página inicial do <strong>SmartLibrary</strong> &#x1F600 !</p>
    {% if user.is_authenticated %}
        <h2>Funcionalidades em produção...</h2>
        <div class="d-grid gap-3 text-center ">
            {% if user.type_user == 2 %}
                <a href="{% url "user_list" %}" class="btn btn-primary btn-md col-5 p-2 mx-auto">Lista de Usuários</a>
            {% endif %}
            <a href="{% url "collection_item_list" %}" class="btn btn-primary btn-md col-5 p-2 mx-auto">Lista de Itens de Acervos</a>
            {% comment %} <a href="{% url "collection_list" %}" class="btn btn-primary btn-md col-5 p-2 mx-auto">Lista de Acervos</a> {% endcomment %}
            {% comment %} <a href="{% url "work_list" %}" class="btn btn-primary btn-md col-5 p-2 mx-auto">Lista de Obras</a> {% endcomment %}
            {% comment %} {% if user.type_user == 2 %}
                <a href="{% url "collection_item_history" %}" class="btn btn-primary btn-md col-5 p-2 mx-auto">Histórico de Edições</a>
            {% endif %} {% endcomment %}
        </div>
    {% else %}
        <p>Parece que você não está logado, por favor, <a href="{% url 'user_login' %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">ENTRE EM UMA CONTA EXISTENTE</a> para acessar as funcionalidades do <strong>SmartLibrary</strong></p>
    {% endif %}
{% endblock main_content %}