{% extends "base.html" %}

{% block title %}
    Página Inicial
{% endblock title %}

{% block main_content %}
    <h1>SmartLibrary</h1>
    <p>Seja bem vindo à página inicial do <strong>SmartLibrary</strong> &#x1F600 !</p>
    <h2>Funcionalidades em produção...</h2>
    {% comment %} <div class="d-grid row-gap-3"> {% endcomment %}
        <div class="d-grid gap-3 text-center ">
            <a href="{% url "user_list" %}" class="btn btn-primary btn-lg col-5 p-2 mx-auto">Lista de Usuários</a>
            <a href="{% url "collection_item_list" %}" class="btn btn-primary btn-lg col-5 p-2 mx-auto">Lista de Itens de Acervos</a>
            <a href="{% url "collection_list" %}" class="btn btn-primary btn-lg col-5 p-2 mx-auto">Lista de Acervos</a>
            <a href="{% url "collection_item_history" %}" class="btn btn-primary btn-lg col-5 p-2 mx-auto">Histórico de Edições</a>
        </div>

        {% comment %} <div class="row p-2">
            <div class="col"><a href="{% url "user_list" %}" class="btn btn-primary btn-lg">Lista de Usuários</a></div>
            <div class="col"><a href="{% url "collection_item_list" %}" class="btn btn-primary btn-lg">Lista de Itens de Acervos</a></div>
        </div>
        <div class="row p-2">
            <div class="col"><a href="{% url "collection_list" %}" class="btn btn-primary btn-lg">Lista de Acervos</a></div>
            <div class="col"><a href="{% url "collection_item_history" %}" class="btn btn-primary btn-lg">Histórico de Edições</a></div>
        </div> {% endcomment %}
    {% comment %} </div> {% endcomment %}
{% endblock main_content %}