{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Alterar Senha{% endblock title %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "home_page" %}">Início</a></li>
        <li class="breadcrumb-item"><a href="{% url "user_list" %}">Usuários</a></li>
        <li class="breadcrumb-item active" aria-current="page">Alterar Senha</li>
    </ol>
{% endblock breadcrumbs %}

{% block main_content %}
<h1>Alterar Senha</h1>
    <p><strong>ATENÇÃO:</strong> Você irá alterar a senha para o usuário {{user_being_edited}}</p>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary"> Salvar</button>
    </form>
{% endblock main_content %}