{% extends "base.html" %}
{% block title %}Lista de Usuários{% endblock title %}

{% block main_content %}
    <h1>Usuários Cadastrados</h1>
    {% if user_list %}
    <div class="table-responsive">
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">TIPO</th>
                    <th scope="col">NOME</th>
                    <th scope="col">CPF</th>
                    <th scope="col">CGM</th>
                    <th scope="col">E-MAIL</th>
                    <th scope="col">TELEFONE</th>
                    <th scope="col">AÇÃO</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user_list %}
                    <tr>
                        <td scope="row"> {{ user.get_tipo_usuario_display }} </td>
                        <td scope="row"> {{ user.username|truncatechars:50 }} </td>
                        <td scope="row"> {{ user.cpf }} </td>
                        <td scope="row"> {{ user.cgm }} </td>
                        <td scope="row"> {{ user.email|truncatechars:20 }} </td>
                        <td scope="row"> {{ user.phone }} </td>
                        <td>
                            <a href="{% url "user_delete" pk=user.pk %}" class="btn btn-danger btn-sm" data-bs-toggle="tooltip" data-bs-title="Excluir"><i class="bi bi-trash"></i></a>
                            <a href="{% url "user_update" pk=user.pk %}" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-title="Editar"><i class="bi bi-pencil"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>Parece que não tem nada...</p>
    {% endif %}
    <div>
        <a href="{% url 'user_create' %}" class="btn btn-primary btn-sm">Cadastrar Usuário</a>
    </div>
{% endblock main_content %}