{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {% if collectionitem.pk %}Editar{% else %}Cadastrar{% endif %} Item Acervo
{% endblock title %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "home_page" %}">Início</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url "collection_item_list" %}">Itens Acervo</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% if collectionitem.pk %}Editar{% else %}Cadastrar{% endif %}</li>
    </ol>
{% endblock breadcrumbs %}

{% block main_content %}
    <h1>{% if collectionitem.pk %}Editar{% else %}Cadastrar{% endif %} Item de Acervo</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
{% endblock main_content %}

{% comment %} HTTP MÉTODOS:
POST : POSTA ALGO -> envia dados para o servidor
GET : PEGA ALGO -> recebe dados do servidor
{% endcomment %}