{%extends "base.html"%}

{% block title %}
    Itens Acervo
{% endblock title %}

{% block main_content %}
    <h1>Itens Acervo</h1>
    {% if collectionitem_list %}
    <div class="table-responsive">
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">TÍTULO DA OBRA</th>
                    <th scope="col">CÓDIGO IDENTIFICADOR</th>
                    <th scope="col">ESTADO DE CONSERVAÇÃO</th>
                    <th scope="col">DISPONIBILIDADE</th>
                    <th scope="col">AÇÃO</th>
                </tr>
            </thead>
            <tbody>
                {% for item in collectionitem_list %}
                    <tr>
                        <td scope="row"> {{ item.title|truncatechars:50 }} </td>
                        <td> {{ item.id_code }} </td>
                        <td> {{ item.preservation }} </td>
                        <td> {{ item.availability }} </td>
                        <td>
                            <a href="{% url "collection_item_delete" pk=item.id_code %}" class="btn btn-danger btn-sm 
                            {% if item.availability == "Emprestado" or item.availability == "Reservado" %}disabled{% endif %}"
                            data-bs-toggle="tooltip" data-bs-title="Excluir"><i class="bi bi-trash"></i></a>
                            <a href="{% url "collection_item_update" pk=item.id_code %}" class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-title="Editar"><i class="bi bi-pencil"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>Não tem nada cadastrado ainda</p>
    {% endif %}
    <a href="{% url "collection_item_create" %}" class="btn btn-primary btn-sm">Cadastrar Item de Acervo</a>
{% endblock main_content %}