{% extends "base.html" %}

{% block title %}Histório de Mudanças{% endblock title %}

{% block main_content %}
    <h1>Histórico de Mundanças dos Itens</h1>
    {% if itemstatuschange_list %}
    <div class="table-responsive">
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">OBRA ALTERADA</th>
                    <th scope="col">STATUS ANTERIOR</th>
                    <th scope="col">STATUS ATUAL</th>
                    <th scope="col">DATA/HORA DA EDIÇÃO</th>
                    <th scope="col">EDITADO POR</th>
                </tr>
            </thead>
            <tbody>
                {% for item in itemstatuschange_list %}
                    <tr>
                        <td scope="row"> {{ item.item }} </td>
                        <td> {{ item.previous_status }} </td>
                        <td> {{ item.new_status }} </td>
                        <td> {{ item.changed_at }} </td>
                        <td> {{ item.changed_by }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>Não tem nada cadastrado ainda</p>
    {% endif %}
{% endblock main_content %}