{%extends "base.html"%}

{% block title %}
    Itens Acervo
{% endblock title %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "home_page" %}">Início</a></li>
        <li class="breadcrumb-item active" aria-current="page">Itens Acervo</li>
    </ol>
{% endblock breadcrumbs %}

{% block main_content %}
    <h1>Itens Acervo</h1>
    <div class="d-grid gap-3 text-center ">
        <a href="{% url "book_list" %}" class="btn btn-primary btn-lg col-5 p-2 mx-auto">Lista de Livros</a>
        <a href="{% url "equipment_list" %}" class="btn btn-primary btn-lg col-5 p-2 mx-auto">Lista de Equipamentos digitais</a>
        
    </div>
{% endblock main_content %}