{% extends "base.html" %}

{% block title %}Excluir Item Acervo{% endblock title %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url "home_page" %}">Início</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url "collection_item_list" %}">Itens Acervo</a></li>
        <li class="breadcrumb-item active" aria-current="page">Excluir</li>
    </ol>
{% endblock breadcrumbs %}

{% block main_content %}
    <h1>Excluir Item Acervo</h1>
    {% comment %} {% if item.availability == "Disponível" %} {% endcomment %}
        <p>Você tem certeza que quer excluir o livro <strong>{{ collectionitem.id_work }} (Código: {{ collectionitem.id_code }})</strong>?</p>
        <p>ATENÇÃO: ESSA AÇÃO NÃO TERÁ VOLTA!</p>
        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-danger">Excluir</button>
            <a href="{% url "collection_item_list" %}" class="btn btn-primary">Voltar</a>
        </form>
{% endblock main_content %}